@media (any-hover: hover) {
	.afterHover {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 7px;
			background: #f7e4d7;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;
			z-index: -1;
			@media (max-width: em(1399.99)) {
				display: none;
			}
		}
		&:hover::after {
			opacity: 1;
			visibility: visible;
		}
	}
}
.adaptiveFont {
	@include adaptiveValue("font-size", 24, 18);
}
